<h1>수정할 화면입니다. </h1>

<form action="/apple/edit2/<%=@mouse.id%>" method="post">
    <p>제목</p>
    <input type="text" name="title" value ="<%=@mouse.title%>">
    <p>내용</p>
    <input type="text" name="content" value="<%=@mouse.content%>">
    <br><input type="submit">
    <br><a href ="/">목록으로가기</a>
</form>