글쓰기 화면입니다 

<form action="/apple/create" method="post">
    <p>제목</p>
    <input type="text" name="title">
    <p>내용</p>
    <input type="text" name="content">
    <br><input type="submit">
    <br><a href ="/">목록</a>
</form>